root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Set default charset
[*.{js,py}]
charset = utf-8

[*.py]
indent_style = space
indent_size = 4
quote_type = single

[*.yml]
indent_style = space
indent_size = 2

[*.bat]
indent_style = tab
end_of_line = crlf

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
