include AUTHORS
include CHANGELOG.md
include README.md
include LICENSE*
include requirements-dev.txt
include requirements-docs.txt

recursive-include docs *
prune docs/_build
recursive-include tests *py

prune */__pycache__
global-exclude *.pyc *~ *.bak *.swp *.pyo
